<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <br>

  <% if local_assigns.has_key? :edit %>
    <div class="input-group w-25">
      <div class="custom-file w-25">
        <%= form.file_field :images, class: 'custom-file-input' %>
        <%= form.label  'Change Image', class: "custom-file-label" %>  
      </div>
    </div>
  <% else %>
    <div class="input-group w-25">
      <div class="custom-file w-25">
        <%= form.file_field :images, multiple: true, class: 'custom-file-input' %>
        <%= form.label  'Multiple Images Allowed', class: "custom-file-label" %>  
      </div>
    </div>
  <% end %>
  
  <br>
  
  <div class='form-check'>
    <%= form.check_box :is_private, class: "form-check-input"%>
    <%= form.label :is_private, class: "form-check-label"%>
  </div>

  <br>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
